.homePageContainer {
    width: 100%;
    overflow-y: hidden;
}

.robotName {
    position: absolute;
    top: 0vh;
    right: 0;
    padding-top: 20vh;
    padding-bottom: 20vh;
    z-index: 2;
    font-size: 15vw;
    font-weight: bold;
    transition: all 0.5s;
    overflow: hidden;
    transform: rotate(23.5deg);
}

.clubLogo {
    position: absolute;
    height: 50vh;
    left:55%;
    bottom: 40%;
    z-index: 3;
    transform: translate(-50% ,50%);
    transition: all 1s;
}

.categories {
    margin: 90vh 0 20vh 20%;
    padding: 0;
    width: 80%;
    display: grid;
    place-items: center;
}

.categoryItem {
    font-size: 20vh;
    font-weight: bold;
    line-height: 100%;
    margin: 5vh;
    z-index: 1;
    transition: all 0.5s;

    &:hover {
        filter: opacity(50%);
    }
}


@media screen and (max-width: 800px) {

    .robotName {
        font-size: 20vw;
    }

    .homePageContainer {
        img {
            left: 50%;
            height: 40%;
        }
    }

    .categories {
        margin: 95vh 0 20vh 0%;
        width: 100%;
    }

    .categoryItem {
        font-size: 25vw;
    }

}